.toDoList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  padding: 0;
}

.toDoItem {
  width: 100%;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgba(248, 248, 248, 0.411);
  border-radius: 6px;
  padding: 15px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.toDoItem:hover {
  background: rgb(241, 241, 241);
}

.toDoItem input[type="checkbox"] {
  align-self: center;
  width: 20px;
  height: 20px;
}
